<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>node-weekee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/weekee/js/weekee.js"></script>
    <script src="/weekee/js/weekee-bootstrap.js"></script>
    <script src="/weekee/js/weekee-ace.js"></script>    
  </head>
  <body>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Node Weekee</a>
          <div class="nav-collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding:60px;">
      <div class="row-fluid">
        <div class="span3" id="sidebar-container">
          <div id="weekee-sidebar">
          </div>
        </div>
        <div class="span9" style="min-height:500px;">
          <div class="row-fluid" id="container">
            <div id="weekee-header" class="clearfix">
              <div id="weekee-title">Node Weekee</div>
              <div id="weekee-file-controllers"></div>
            </div>
            
            <div id="weekee-content">Click on a file on the left to open it</div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>node-weekee, written by <a href="http://deadhorse.me">dead_horse</a></p>
      </footer>
    </div>    
  </body>
</html>
